body {
    background: rgb(72, 165, 202);
    font: normal 15pt Arial
}
header {
    color: white;
    text-align: center;

}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63)

}
div {
    text-align: center;
    padding: 8px;
}
label, input {
    width: 40px;
    align-items: center;
}
input#botao {
    width: 70px;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;

}